*
!*/
!.gitignore
!/1126623381/Config/*
!/1248241465/Config/XComMoreGrenades.ini
!/1662114279/Config/XComIriPsiOverhaul.ini
!/1662114279/Config/XComClassData.ini
!/1181681128/Config/XComGameData.ini
!/1181681128/Config/XComGameData_WeaponData.ini
!/1124885122/Config/XComNCE.ini
!/1807920670/Config/XComRulersRegen.ini
!/896537816/Config/XComNoInvisibleHeads.ini
!/1126071432/Config/XComStrategyTuning.ini
!/1403802497/Config/XComGameData_SoldierSkills.ini
!/1130992242/Config/XComClassData.ini
!/1130220766/Config/XComClassData.ini
!/1468119960/Config/XComGameCore.ini
!/1468119960/Localization/XComGame.int
!/1127564073/Config/XComClassData.ini
!/2245270253/Config/XComWeaponSkinReplacer.ini

